<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898947285232-3c511fc5s8rjnh0jbr3vnngolvt3151k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898947285232-3c511fc5s8rjnh0jbr3vnngolvt3151k</string>
	<key>API_KEY</key>
	<string>AIzaSyDnI4Dr19cIfk1cJHlQutIU12KeJeXD5Hg</string>
	<key>GCM_SENDER_ID</key>
	<string>898947285232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.chat</string>
	<key>PROJECT_ID</key>
	<string>chat-group-369f4</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-group-369f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898947285232:ios:1d9e447362481911350235</string>
	<key>DATABASE_URL</key>
	<string>https://chat-group-369f4-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>